.pointer:hover {
    cursor: pointer;
}

.animate {
    transition: all 0.25s;
}

.none-list-type {
    list-style: none;
}

.hide {
    visibility: hidden;
}

.capitalize {
    text-transform: uppercase;
}

.h0 {
    font-size: 55px;
}

.bolder {
    font-weight: bold;
}

.sousligne {
    text-decoration: underline;
}