/*Color Primary : #00ABA3*/
/*Color dark : #333F48*/
/*Color secondary : #A2ACB3*/
/*Color tier : #1F2C2D*/

/*MORE COLORS

E8D4B8 -- Beige
37728B -- bleu
503C55 -- violet
55542D -- vert sombre
39B35B -- vert
F4E5B9 -- beige claire


#test{
    color: #E8D4B8;
    color: #37728B;
    color: #503C55;
    color: #55542D;
    color: #39B35B;
    color: #F4E5B9;
}
*/

*, html, body {
    font-family: 'Nanum Gothic', sans-serif;
}

.btn {
    border-radius: 0 !important;
}

.form-control {
    border-radius: 0 !important;
}

.btn-outline-pc {
    color: #00ABA3;
    background-color: transparent;
    background-image: none;
    border-color: #00ABA3;
}

.btn-outline-pc:hover {
    color: #fff;
    background-color: #00ABA3;
    border-color: #00ABA3;
}

.btn-pc {
    color: #fff;
    background-color: #00ABA3;
    border-color: #00ABA3;
}

.btn-pc:hover {
    color: #fff;
    background-color: #00756e;
    border-color: #00756e;
}

.btn-tier {
    color: #fff;
    background-color: #1F2C2D;
    border-color: #1F2C2D;
}

.btn-tier:hover {
    color: #fff;
    background-color: #304648;
    border-color: #304648;
}

.bg-black {
    background-color: #000;
    color: white;
}

.bg-primary {
    background-color: #00ABA3 !important;
}

.bg-primary-lighter {
    background-color: #02AEAE;
}

.bg-secondary {
    background-color: #333F48 !important;
    color:white;
}

.bg-beige{
    background-color: #E8D4B8;
    color:black;
}
.bg-bleu{
    background-color: #37728B;
    color:black;
}
.bg-violet{
    background-color: #503C55;
    color: white;
}
.bg-dark-green{
    background-color: #55542D;
    color: white;
}
.bg-green{
    background-color: #39B35B;
    color: black;
}
.bg-beige-claire{
    background-color: #F4E5B9;
    color: black;
}
.bg-dark{
    background-color: #323232;
    color: white;
}

.bg-grey {
    background-color: #bfbfbf;
    color: black;
}

.bg-light-grey {
    background-color: #ececec;
    color: black;
}

.color-primary {
    color: #00ABA3;
}

.white-circle{
    padding: 10px;
    background-color: white;
    border-radius: 30%;
    color: black;
}

.call-to-action:hover{
    transform: scale(0.95);
    filter: brightness(85%);
}

a {
    font-weight: bold;
    color:#fff;
}

a:hover {
    color: #f1f1f1;
}

mark{
    background: #00ABA360;
    -webkit-transform: skew(-18deg);
    -moz-transform: skew(-18deg);
    -o-transform: skew(-18deg);
}

mark span{
    -webkit-transform: skew(18deg);
    -moz-transform: skew(18deg);
    -o-transform: skew(18deg);
}

.bg-box-grey {
    background-color: rgba(214, 214, 214, 0.52);
}

.img-bg:hover {
    transform: scale(1.1);
    z-index: 150;
}
.img-bg-1 {
    background: url('../assets/img/img4.jpg'), #fff;
    background-size: cover;
}
.img-bg-1:hover {
    background-color: #00ABA360;
    background-image: url('../assets/img/img4.jpg');
    background-size: cover;
}
.img-bg-2 {
    background-image: url('../assets/img/img2.jpg');
    background-size: cover;
}
.img-bg-3 {
    background-image: url('../assets/img/img3.jpg');
    background-size: cover;
}
.img-bg-4 {
    background-image: url('../assets/img/img4.jpg');
    background-size: cover;
}

#offcanvas-menu > a:hover {
    color: white;
}

.card-image {
    display: block;
    /*min-height: 20rem; !* layout hack *!*/
    background: #fff center center no-repeat;
    background-size: cover;
    filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
    display: block;
    width: 100%;
    opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
    filter: none; /* remove the blur on fullres image */
    transition: filter 1s;
}

.quote {
    margin-left: 10px;
    padding: 10px;
    border-left: 2px solid #00ABA3;
    border-bottom-left-radius: 5px;
}

.medium-font-size {
    font-size: 2rem;
}
.min-w-200 {
    min-width: 200px;
}